<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Art Galore</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
<!-- Brand -->
<a class="navbar-brand" href="#" >ART GALORE</a>

<!-- Toggler/collapsibe Button -->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
</button>

<!-- Navbar links -->
<div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
        <!--
         <li class="nav-item">
             <a class="nav-link" th:href="@{/home}">Available Jobs</a>
         </li>
         -->

    </ul>
</div>
</nav>






<br>
<div class="banner-bootom-w3-agileits py-5">
    <div class="container py-xl-4 py-lg-2"   >
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>A</span>rt
            <span>D</span>etails</h3>

        <br>
        <!-- //tittle heading -->
        <div class="row">
            <div class="col-lg-5 col-md-8 single-right-left " >
                <div class="grid images_3_of_2">
                    <div class="flexslider">
                        <div class="thumb-image"   >
                            <img th:src="@{${'/book/display/'+id}}" style="width:400px"
                                 class="img img-responsive img-fluid"
                                 alt="">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 single-right-left simpleCart_shelfItem"> <b style="font-size:200%">
                Name:</b> <span th:text="${name}" style="font-size:150%" class="mb-3"></span>
                <p class="mb-3">
                   <b style="font-size:200%">Price</b> :&#36;
                    <span class="item_price" th:text="${price}"style="font-size:200%"></span>
                </p>
                <div class="product-single-w3l">
                    <b style="font-size:200%">Description:</b>
                    <span th:text="${description}" style="font-size:200%"  class="my-sm-4 my-3">
						</span>
                </div><br>
                <a th:href=   "@{/book/show}" style="font-size:150%">Go Back</a>
                &emsp;<a th:href =    "@{/home}" style="font-size:150%">Go Home</a>

                <br>
                <br>



            </div>

        </div>
    </div>
</div>
</body>
</html>